<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login form</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="../public/css/boobstrap/boostrap.css">

</head>
<body>
   
<div class="form-container">

   <form action="" method="post">
      <h3>login now</h3>
      <input type="email" name="email" required placeholder="email" class="box" required>
      <input type="password" name="password" required placeholder="contraseña" class="box" required>
      <input type="submit" name="submit" value="ingresar" class="btn">
      <p>no eres coordinador o administadro <a href="">devolverse</a></p>
   </form>
    
</div>

</body>
</html>