<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login</title>

   <link rel="stylesheet" href="./css/bootstrap/style.css">

</head>
<body>
   
<div class="form-container">

   <form action="/validar" method="post" enctype="multipart/form-data">
      <h3>enter</h3>
      <input type="text" id="usuario" name="usuario" placeholder="enter text" class="box" required>
      <input type="email" id="email" name="email" placeholder="incoming e-mail" class="box" required>
      <input type="password" id="password" name="password" placeholder="enter password" class="box" required>
      <input type="submit" name="submit" value="enter" class="btn">
      <p> don't have an account ? <a href="loginadc.ejs">register</a></p>
   </form>

</div>
</body>
</html>